/* Navigation */
#main-nav .social{
  display: none;
}

#main-nav .container{
  grid-template-columns: 1fr;
  grid-gap: 1.2rem;
}

#main-nav ul,
#main-nav .logo{
  justify-self: center;
}

#main-nav ul li a{
  padding: 0.5rem;
}


/* Home Articles */
#home-articles .articles-container{
  grid-template-columns: 1fr 1fr;
}

#home-articles .articles-container article:first-child,
#home-articles .articles-container article:last-child{
  grid-template-columns: 1fr;
  grid-column: 1;
}

@media(max-width:600px){
  #showcase .showcase-container,
  #home-articles .articles-container,
  #main-footer .footer-container{
    grid-template-columns: 1fr;
  }

  #main-footer .footer-container>*:last-child{
    grid-column: 1;
  }

  .page-container{
    grid-template-columns: 1fr;
    text-align: center;
  }
  .page-container >*:first-child{
    grid-row: 1;
  }

  .l-heading{
    font-size: 2rem;
  }
}