:root{
  --primary-color: #c72727;
  --secondary-color: #f99500;
  --light-color: #f3f3f3;
  --dark-color: #333;
  --max-width: 1100px;
}

.category{
  --sports-color: #f99500;
  --ent-color: #a66bbe;
  --tech-color: #009cff;
}


/* Core Styling */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Lato', san-serif;
  line-height: 1.5;
  background-color: var(--light-color);
}

a{
  color: #333;
  text-decoration: none;
}

ul{
  list-style: none;
}

img{
  width: 100%;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Staatliches', cursive;
  margin-bottom: .55rem;
  line-height: 1.3;
}

p{
  margin-bottom: 0.5rem;
}

/* Utility */
.container{
  max-width: var(--max-width);
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

.category{
  display: inline-block;
  font-size: 0.55rem;
  padding: 0.4rem 0.6rem;
  color: #fff;
  text-transform: uppercase;
  border-radius: 15px;
  margin-bottom: 0.5rem;
}

.category-sports{ background-color: var(--sports-color); }
.category-ent{ background-color: var(--ent-color); }
.category-tech{ background-color: var(--tech-color); }

.btn{
  display: inline-block;
  border: none;
  background-color: var(--dark-color);
  color: #fff;
  padding: 0.5rem 1.5rem;
}

.btn:hover{
  opacity: 0.9;
}

.btn-block{
  display: block;
  width: 100%;
  text-align: center;
}

.btn-light{ background: var(--light-color); }
.btn-primary{ background: var(--primary-color); }
.btn-secondary{ background: var(--secondary-color); }

.card{
  background: #fff;
  padding: 1rem;
}

.bg-dark{
  background: var(--dark-color);
  color: #fff;
}
.bg-primary{
  background: var(--primary-color);
  color: #fff;
}
.bg-secondary{
  background: var(--secondary-color);
  color: #fff;
}

.bg-dark h1,
.bg-dark h2,
.bg-dark h3,
.bg-dark a,
.bg-primary h1,
.bg-primary h2,
.bg-primary h3,
.bg-primary a,
.bg-secondary h1,
.bg-secondary h2,
.bg-secondary h3,
.bg-secondary a{ color: #fff; }


.py-1{ padding: 1.5rem 0; }
.py-2{ padding: 2rem 0; }
.py-3{ padding: 3rem 0; }

.p-1{ padding: 1.5rem; }
.p-2{ padding: 2rem; }
.p-3{ padding: 3rem; }

.l-heading{ font-size: 3rem; }

.list li{
  padding: 0.5rem 0;
  border-bottom: dotted 1px #555;
  width: 90%;
}

.list li a:hover{
  color: var(--primary-color) !important  ;
}

.page-container{
  display: grid;
  grid-template-columns: 5fr 2fr;
  grid-gap: 1.5rem;
  margin: 2rem 0;
}
.page-container >*:first-child{
  grid-row: 1/ span 3;
}


/* Navigation */
#main-nav{
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 2;
}

#main-nav .container{
  display: grid;
  grid-template-columns: 6fr 3fr 2fr;
  padding: 1rem;
  align-items: center;
}

#main-nav .logo{
  width: 180px;
}

#main-nav ul{
  display: flex;
  justify-self: end;
}

#main-nav ul li a{
  padding: 0.75rem;
  font-weight: bold;
}

#main-nav ul li a.current{
  background-color: var(--primary-color);
  color: #fff;
}

#main-nav ul li a:hover{
  background-color: var(--light-color);
  color: var(--dark-color);
}

#main-nav .social{
  justify-self: center;
}

#main-nav .social i{
  color: #777;
  margin-right: 0.5rem;
}


/* Showcase Styling */
#showcase{
  color: #fff;
  background: #333;
  padding: 2rem;
  position: relative;
}

#showcase::before{
  content: '';
  background: url('../img/featured.jpg') no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}

#showcase .showcase-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

#showcase .showcase-content{
  z-index: 1;
}

#showcase .showcase-content p{
  margin-bottom: 1rem;
}


/* Home Articles */
#home-articles .articles-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}

#home-articles .articles-container article:first-child,
#home-articles .articles-container article:last-child{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  align-items: center;
  grid-column: 1/ span 2;
}

#home-articles .articles-container article:last-child{
  grid-column: 2/span 2;
}

#article .meta{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #eee;
  padding: 0.5rem;
}
#article .meta .category{
  margin-top: 0.5rem;
}


/* Main Footer */
#main-footer{
  background: var(--dark-color);
  color: #fff;
}

#main-footer img{
  width: 150px;
}

#main-footer a{
  color: #fff;
}

#main-footer .footer-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.5rem;
}

#main-footer .footer-container>*:last-child{
  grid-column: 1/ span 4;
  text-align: center;
  background: #444;
  font-size: 0.75rem;
  padding: 0.5rem;
}

#main-footer .footer-container input[type="email"]{
  width: 90%;
  padding: 0.5rem;
  margin-bottom: 0.75rem;
}

#main-footer .footer-container input[type="submit"]{
  width: 90%;
}